@page "/"

<link rel="stylesheet" href="css/home.css" />

<PageTitle>Inicio</PageTitle>

<div class="welcome-page">
    <div class="content text-center">
        <div class="center-content">
            <img src="assets/atmiraPayNet.svg" alt="Logo" class="logo" />
            <p class="welcome-text">
                ¡Descubre el futuro de las transacciones financieras con AtmiraPayNet! Tu puerta de entrada a la innovación en pagos seguros y eficientes.
            </p>
            <AuthorizeView>
                <Authorized>

                    <a id="ViewPayment" class="btn-custom" href="payments">Ver lista de pagos</a>

                </Authorized>
                <NotAuthorized>

                    <a class="btn-custom" href="login">Iniciar sesión</a>
                    <a class="text-btn" href="register">Crear cuenta</a>

                </NotAuthorized>
            </AuthorizeView>
        </div>
    </div>
</div>
