@page "/login"

@using AtmiraPayNet.Client.Services.Interfaces
@using AtmiraPayNet.Shared
@using AtmiraPayNet.Shared.DTO
@using CurrieTechnologies.Razor.SweetAlert2

@inject IAuthService userService;
@inject NavigationManager navigation;
@inject SweetAlertService Swal;

<link rel="stylesheet" href="css/access.css" />

<PageTitle>Login</PageTitle>

<div class="access-page">
    <div class="access-form login-form">
        <h1 class="title">Inicia sesión</h1>
        <EditForm Model="login" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator></DataAnnotationsValidator>
            <div class="row">

                <div class="col-12">

                    <div class="mb-3">
                        <label class="form-label">Nombre de usuario</label>
                        <InputText id="UserName" class="form-control" @bind-Value="login.UserName"></InputText>
                        <ValidationMessage For="@(() => login.UserName)"></ValidationMessage>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Contraseña</label>
                        <InputText id="Password" class="form-control" @bind-Value="login.Password" type="password"></InputText>
                        <ValidationMessage For="@(() => login.Password)"></ValidationMessage>
                    </div>
                </div>

            </div>
            <button id="LoginButton" class="btn-custom" type="submit">Iniciar Sesión</button>
            <a class="text-btn" href="register">Crear cuenta</a>
        </EditForm>
    </div>
</div>

@code {
    LoginDTO login = new LoginDTO();

    private async Task OnValidSubmit()
    {
        if (await userService.Login(login))
        {
            navigation.NavigateTo("");
        }
        else
        {
            await Swal.FireAsync(new SweetAlertOptions
                {
                    Title = "Datos incorrectos",
                    Icon = SweetAlertIcon.Error,
                    ShowConfirmButton = false
                });
        }
    }
}
