@inject NavigationManager NavigationManager

<nav class="navbar navbar-expand-xl fixed-top bg-transparent navbar-light">
    <div class="container">
        <NavLink class="navbar-brand" href="">
            <img src="assets/atmiraPaynet.svg"
                 draggable="false"
                 height="30" />
        </NavLink>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto align-items-center">
                <AuthorizeView>
                    <Authorized>

                        @* <li class="nav-item">
                        <NavLink class="nav-link mx-2" href="">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Home
                        </NavLink>
                        </li> *@
                        @* <li class="nav-item ms-3">
                        <NavLink class="nav-link" href="payments">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Payments
                        </NavLink>
                        </li> *@

                        @if (context.User.Identity != null)
                        {
                            var fullNameClaim = context.User.Claims.FirstOrDefault(c => c.Type == "fullName");
                            var fullNameValue = fullNameClaim?.Value ?? "";

                            if (!string.IsNullOrEmpty(fullNameValue))
                            {
                                <li class="nav-item ms-3">
                                    <span class="hello">Hola, @fullNameValue</span>
                                </li>
                                <hr class="vertical-separator">
                            }
                        }
                        <li class="nav-item ms-3">
                            <NavLink class="nav-link" href="logout">
                                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Cerrar sesión
                            </NavLink>
                        </li>

                    </Authorized>
                    @* <NotAuthorized>

                    <li class="nav-item">
                    <NavLink class="nav-link mx-2" href="">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Home
                    </NavLink>
                    </li>
                    <li class="nav-item">
                    <NavLink class="nav-link mx-2" href="login">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Login
                    </NavLink>
                    </li>
                    <li class="nav-item">
                    <NavLink class="nav-link" href="register">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Register
                    </NavLink>
                    </li>

                    </NotAuthorized> *@
                </AuthorizeView>
            </ul>
        </div>
    </div>
</nav>

<style>
    .navbar-nav .nav-item .nav-link {
        color: white;
    }

        .navbar-nav .nav-item .nav-link.active {
            color: white;
        }

        .navbar-nav .nav-item .nav-link:hover {
            color: white;
        }

    .hello {
        color: white;
    }

    .vertical-separator {
        border: none;
        border-left: 1px solid #ccc;
        height: 40px;
    }
</style>