.page {
    height: 100vh;
    background-color: white;
}

.payments-container {
    padding: 80px 40px;
    z-index: -2;
    height: 100vh;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.loading {
    width: 200px;
}

.title {
    margin-bottom: 30px;
    text-align: center;
}

.btn-icon {
    aspect-ratio: 1;
    padding: 0;
    height: 30px;
    border: none;
    border-radius: 50px;
    color: white;
}

.btn-create {
    background-color: rgb(222, 29, 112);
    height: 40px;
    width: 100%;
    color: white;
    border: none;
    border-radius: 50px;
    margin-top: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
}

    .table th, .table td {
        padding: 8px;
        text-align: left;
    }

    .table th {
        font-size: 18px;
        color: #fff;
        background-color: #212738;
        line-height: 1.2;
        font-weight: unset;
    }

    .table tr:not(:last-child):hover {
        background-color: #ccc;
    }


    .table th:nth-child(1), .table td:nth-child(1) {
        width: 20%;
    }

    .table th:nth-child(2), .table td:nth-child(2) {
        width: 20%;
    }

    .table th:nth-child(3), .table td:nth-child(3) {
        width: 20%;
    }

    .table th:nth-child(4), .table td:nth-child(4) {
        width: 20%;
    }

    .table th:nth-child(5), .table td:nth-child(5) {
        width: 10%;
        text-align: center;
    }

    .table th:nth-child(6), .table td:nth-child(6) {
        width: 5%;
        text-align: center;
    }

    .table th:nth-child(7), .table td:nth-child(7) {
        width: 5%;
        text-align: center;
    }

    .table tr:last-child td {
        padding: 0;
        border: 0;
    }

.generated-row {
    background-color: #bbb;
}
